$bg1: #0C4773;
$bg2: #98A4AF;
$bg3: #333333;
$bg4: #F1F2F2;

$button-main: #0C4773;
$button-nav: #0C4773;
$button-card: #98A4AF;
$button-hover: #0f5991;
$button-nav-hover: #0f5991;
$button-active: #0d2a3e;
$button-nav-active: #0d2a3e;
$button-disabled: #CCCCCC;

$main-border: #D9D9D6;
$secondary-border: #C1C1C1;
$nav-border-left: #98A4AF;
$nav-border-left-active: #7c8690;
$disabled-border: #999999;
$glass: #F2F2F299;
$form-color: #E3E3E3;
$accordion-bg: #D3D3D3;

$main-font: #F2F2F2;
$secondary-font: #111111;
$tertiary-font: #0C4773;
$black-transparent: #00000099;
$hover-font: #c7c6c6;
$secondary-hover-font: #5B5B5B;
$active-font: #7A7A7A;
$logo-font: #F2F2F2;
$disabled-font: #666666;
$button-subnav: #0C4773;
$info-font: #2C94F8;
$helper-text-font: #00000099;
$action-font: #16dcff;

$success-color: #2E7D32;
$error-color: #DB3131;
$warn-color: #BF8B22;
$info-color: #1749af;

$hover-nav: #FFF;
