@font-face {
    font-family: 'Avenir';
    src: local('AvenirNextLTPro-Regular'),
        url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa-Light'),
      url('../fonts/Comfortaa-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

$main-font: 'Comfortaa';
$title-font: 'Avenir';