@use '../../styles/colors.scss';
@use '../../styles/animations.scss';

#education-details-section {
    margin: 0 1em 10px 10px;
    padding: 0;
    float: right;
    transition: all 0.3s ease-in-out;
    animation: animations.$fade-in;
    border-radius: 10px;
    overflow: auto;

    img {
        border: 2px solid white;
        border-radius: 10px;
    }
}

.education-details-title {
    margin: 1em;
    margin-left: 10px;
    padding: 1em 0;
    width: auto;
    height: fit-content;
    text-align: center;

    h1 {
        font-size: 35px;
    }

    img {
        width: 300px;
        margin: 0;
        padding: 0;
    }
}

.education-details-title, .education-details-wrapper-div {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    transition: all 0.3 ease;
}

.education-details-wrapper-div {
    background-color: colors.$bg1;
    width: auto;
    min-height: calc(100vh - 23.75em);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    padding: 1em 3em;
    margin: 1em 1em 1em 10px;
    overflow: auto;
    text-wrap: wrap;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.education-details-content {
    width: 100%;
    height: 100%;
    text-align: center;

    h4 {
        margin: 1em 1em 0;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 1em;
    }

    img {
        width: 300px;
        margin: 0;
        padding: 0;
    }
}

.blue-card {
    width: 1000px;
    margin: 1.5em auto;
    border: 1px solid colors.$bg1;
    border-radius: 10px;
    background-color: colors.$bg1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    line-height: 1.5;

    h1 {
        margin-top: 1em;
    }
}

.list-wrapper {
    margin: 10px 4em 2em 4em;
    padding: 2em;
    border: 2px solid colors.$main-border;
    border-radius: 10px;

    p {
        text-align: left;
    }

    ul {
        margin-left: 2.5em;
    }
}

.data-div {
    margin: 2em 4em;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 10px 0;
    }

    img {
        margin: 1em;
    }

    div {
        margin: 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            text-align: left;
            margin: 1em auto;
        }
    }

    &.row {
        div {
            flex-direction: row;

            div {
                flex-direction: column;
            }
        }
    }

    &.experiences {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

#resp-title {
    margin-top: 1em;
}

.general-info-split {
    margin: 2em 4em;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .left {
        width: 49%;
        margin-right: 2.5px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        p {
            font-weight: bold;
            margin: 0;
        }
    }

    .right {
        width: 49%;
        margin-left: 2.5px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        p {
            margin: 0;
        }
    }

    div {
        img {
            margin: 0 1em;
        }
    }

    span {
        text-align: left;
    }
}

.content-split {
    margin: 2em 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        width: 40%;
        height: 100%;
        p {
            text-align: left;
            margin: 1.5em 0;
            line-height: 1.75;
        }

        &.open {
            padding-top: 0 !important;
            img {
                width: 450px !important;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 60%;
        height: 100%;
        p {
            text-align: left;
            margin: 1.5em 0;
            line-height: 1.75;
        }
    }

    div {
        img {
            margin: 0 1em;
        }
    }

    span {
        text-align: left;
    }
}

.exp {
    margin-top: 1.5em;
    margin-bottom: 10px;
}

.info-title {
    margin-bottom: 10px;
}

@media only all and (min-device-width: 641px) and (max-device-width: 1024px) {
    .education-details-wrapper-div {
        padding: 10px;
        margin-right: 1em;
        margin-bottom: 0;
        height: calc(100vh - 7.5em);
        max-height: 69.9em;
    }
}

@media only all and (max-width: 640px) {
    #education-details-section {
        margin: 5px auto;
        width: 95%;
        float: none;
    }

    .education-details-wrapper-div {
        padding: 1em;
        margin-left: 1em;
    }

    .education-details-title {
        margin-left: 1em;
        h1 {
            font-size: 30px;
        }

        h3 {
            margin-top: 0;
            font-size: 20px;
        }

        img {
            margin: 0;
            width: 200px;
            height: auto;
        }
    }

    #general-info {
        flex-direction: row !important;
        width: 110% !important;
        margin: 0 -1em !important
    }

    .content-split {
        flex-direction: column;
        width: 100%;
        margin: 0;

        .right {
            margin: 0 !important;
            width: 100%;
            flex-direction: column;

            img {
                margin: 1em 0;
            }
        }

        .left {
            margin: 0 !important;
            width: 100%;
        }
    }


    .data-div {
        width: 100% !important;
        margin: 1em 0 !important;
        margin-bottom: 2em;
        img {
            width: 300px !important;
            margin: 1em 0 !important;
        }

        &.row {
            flex-direction: column !important;
            div {
                flex-direction: column !important;
            }
        }
    }

    .list-wrapper {
        margin: 0 1em !important;

        img {
            width: 225px !important;
            margin: 0 auto;
        }
    }

    .image-link-div {
        h3 {
            font-size: 15px;
        }
    }
}